:root {
  --link_and_button_color: #2196f3;
  --letters_and_logo_color_black: #212121;
  --letters_and_logo_color_white: #ffffff;
}
body {
  font-family: "Roboto";
  background-color: var(--letters_and_logo_color_white);
  color: var(--letters_and_logo_color_black);
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.padding-top-0 {
  padding-top: 0;
}
header {
  padding: 30px 0;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.header-help {
  display: flex;
  align-items: center;
}
.logo-ws {
  font-family: "Raleway";
  font-size: 26px;
  color: var(--letters_and_logo_color_black);
}
.logo-color {
  color: var(--link_and_button_color);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--letters_and_logo_color_black);
}
.header-link:hover {
  color: var(--link_and_button_color);
}
.header-kontakt {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
.header-kontact-link {
  color: #757575;
}
.header-kontakt > a:hover {
  color: var(--link_and_button_color);
}
.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}
.title-section {
  text-align: center;
  background: #2f303a;
  padding: 200px 0;
}
.title-section-h1 {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--letters_and_logo_color_white);
  font-weight: 900;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.title-section-button {
  min-width: 200px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--letters_and_logo_color_white);
  box-shadow: 0px 4px 4px var(--letters_and_logo_color_black);
  border-radius: 4px;
  background-color: var(--link_and_button_color);
  margin: 0 auto;
  padding: 10px 41px;
  border: none;
}
.advantages {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.advantages-h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adv-list > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.adv-list > p {
  width: 270px;
  line-height: 1.71;
  color: #757575;
}
.what-we-do-list {
  display: flex;
  gap: 30px;
}
.what-we-do-h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.our-team {
  text-align: center;
  background-color: #f5f4fa;
}
.our-team-ul {
  display: flex;
  gap: 30px;
}
.our-team-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list > div {
  padding: 30px 0;
}
.team-list-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list-p {
  font-size: 16px;
  color: #757575;
  letter-spacing: 0.03em;
}
footer {
  background: #2f303a;
  line-height: 24px;
  padding: 60px 0;
}
.map-address {
  color: var(--letters_and_logo_color_white);
}
.contact-info {
  color: #999999;
}
address {
  font-style: normal;
}
.footer-a-style {
  font-size: 14px;
  line-height: 1.71;
}
address > a:hover {
  color: var(--link_and_button_color);
}

.current {
  color: var(--link_and_button_color);
}

/* ⬇ <<PORTFOLIO>> ⬇ */
.title-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
.title-button-h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.but-list {
  display: inline-flex;
}
.but-list > button {
  width: 93px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  color: var(--letters_and_logo_color_black);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.03em;
  font-family: inherit;
}
.but-list > button:hover {
  background-color: var(--link_and_button_color);
  color: var(--letters_and_logo_color_white);
}
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.portf-list {
  width: 370px;
  border: 1px solid #eeeeee;
}

.portf-list > img {
  width: 100%;
  height: 294px;
}
.portf-list > div {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.portf-list-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portf-list-p {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  letter-spacing: 0.03em;
}
